body
{
    padding: 0px;
    border:0px;
    margin:0px;
    background-color:rgb(225, 225, 225);
}
#banner
{
  height:6.5em;
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 0px;
  margin: 0px;

  top:0px;
  background-color: rgb(250, 250, 250);
}

#bannerTopLayer
{
  position: absolute;
  width: inherit;
  height:4.5em;

  border-bottom-style: double;
  border-bottom-width: thick;

}
#titleDiv
{
  position:relative;
  height:100%;
  text-align: center;
  padding-top: 0.5em;
}
#titleDiv > *
{
  margin:0px;
}
#homeButtonDiv
{
  z-index: 101;
  position: absolute;
  height:100%;
  width: 4.5em;
  border-right-style: double;
  border-right-width: thick;
}
#logo
{
  height: 70%;
  display: block;
  margin-left: 15%;
  margin-top: 10%;
}

#menu
{
  width:100%;
  height:2em;
  margin-top:4.5em;
}
.menuBox
{
  display: block;
  height:100%;
  width:20%;
  float: left;

  background-color: rgb(250, 250, 250);

  border-bottom-color: black;
  border-bottom-style: double;
  border-bottom-width: thick;

  text-align: center;
  line-height: 220%;

  color:black;
  text-decoration: underline;
  font-weight: bold;
}
.menuBox:hover
{
  background-color: rgb(182, 182, 182);
  text-decoration: none;
}


#main
{
  z-index:0;
  position: relative;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  background-color: rgb(250, 250, 250);
  border-style:double;
  border-width: thick;
  padding:10px;
  margin-bottom: 2em;
}

pre
{
  padding-left: 3em;
}

#footer
{
  z-index: 100;
  height:2em;
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-top-style: double;
  border-top-width: thick;
  line-height: 200%;
  padding-left:0.5em;
}
#footer a
{
  color:black;
  font-weight: bold;
}
#footer a:hover
{
  text-decoration: none;
}
#footer-right
{
  float: right;
  padding-right: 1em;
}
